.balls {
    position: relative;
    // background: var(--primary-color);
    --box-size: calc(100vw / 18);
    width: calc(100vw - var(--box-size) * 2);
    border: solid var(--border-width) var(--border-color);
}

.ball-row {
    display: flex;
    justify-content: center;

    > div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--black-color);
        color: var(--not-called-color);
        font-size: 4vw;
        height: var(--box-size);
        width: var(--box-size);

        &.ball-letter {
            color: var(--ball-text-color);
            background: var(--ball-color);

            &[ball-letter='B'] {
                --ball-color: var(--b-ball-color);
                --ball-text-color: var(--b-ball-text-color);
            }

            &[ball-letter='I'] {
                --ball-color: var(--i-ball-color);
                --ball-text-color: var(--i-ball-text-color);
            }
            &[ball-letter='N'] {
                --ball-color: var(--n-ball-color);
                --ball-text-color: var(--n-ball-text-color);
            }
            &[ball-letter='G'] {
                --ball-color: var(--g-ball-color);
                --ball-text-color: var(--g-ball-text-color);
            }
            &[ball-letter='O'] {
                --ball-color: var(--o-ball-color);
                --ball-text-color: var(--o-ball-text-color);
            }
        }
    }

    .called {
        color: var(--called-color);

        &.active {
            transition: color 0.5s;
            animation-name: active-number;
            animation-duration: 750ms;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }

    @keyframes active-number {
        from {
            color: var(--black-color);
        }
        to {
            color: var(--called-color);
        }
    }

    .clickable {
        cursor: pointer;
    }
}
