.ball-row {
    display: flex;
    --box-size: calc(100vw / 18);
    justify-content: center;
    border: solid 1px var(--white-color);

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px var(--white-color);
        background: var(--black-color);
        color: var(--not-called-color);
        font-size: 4vw;
        height: var(--box-size);
        width: var(--box-size);

        &.ball-letter {
            color: var(--white-color);
        }
    }

    .called {
        color: var(--called-color);

        &.active {
            transition: color 0.5s;
            animation-name: active-number;
            animation-duration: 750ms;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }

    @keyframes active-number {
        from {
            color: var(--black-color);
        }
        to {
            color: var(--called-color);
        }
    }

    .clickable {
        cursor: pointer;
    }
}
