.container {
    display: grid;
    gap: 2rem;
    grid-template-columns: max-content max-content;
    grid-template-rows: auto auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        font-size: 1.5rem;
        background: rgb(0 0 0 / 0.5);
        padding: 1.5rem;
        border-radius: 1rem;
    }

    .call-history {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .total-calls {
        grid-column: 1;

        .large {
            font-size: 3.5rem;
        }
    }
}
