<div class="container" *ngIf="calls && calls.length > 0">
    <div>
        <bng-ball-display [ball]="calls.reverse()[0]" [largeSize]="true"></bng-ball-display>
        <div>Current Call</div>
    </div>
    <div>
        <div class="call-history">
            <div *ngFor="let call of calls.slice(1, 6); let i = index">
                <bng-ball-display [ball]="call"></bng-ball-display>
            </div>
        </div>
        <div>Previous 5 Calls</div>
    </div>
    <div class="total-calls">
        <div>Total Calls</div>
        <div class="large">{{ calls.length }}</div>
    </div>
</div>