h2,
h3 {
    margin: 0;
    font-weight: var(--font-weight);
}

h2 {
    font-size: 2.25vw;
}

h3 {
    font-size: 1.5vw;
}

.board {
    display: flex;
    flex-direction: column;
    --box-size: calc(100vw / 32);
    border: solid var(--border-width) var(--board-color);

    > div {
        display: flex;

        > div {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: var(--box-size);
            width: var(--box-size);
            border: solid var(--border-width) var(--board-color);
        }

        .letter {
            background-color: var(--board-color);
            text-transform: uppercase;
            font-size: 2vw;
            color: var(--board-text-color);
        }

        .number {
            background-color: var(--white-color);
            color: var(--board-color);
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;
            font-size: 0.8vw;
            line-height: 1.5;
            text-shadow: none;

            &.selected {
                color: transparent;
                text-overflow: hidden;

                &::before,
                &::after {
                    --size: 80%;
                    content: '';
                    text-overflow: hidden;
                    position: absolute;
                    border-radius: 50%;
                    height: var(--size);
                    width: var(--size);
                }

                &::before {
                    background: var(--marker-color, var(--board-color));
                }
                &::after {
                    background: radial-gradient(
                        rgb(255 255 255 / 0) 0%,
                        rgb(255 255 255 / 0) 50%,
                        rgb(255 255 255 / 0.8) 100%
                    );
                }
            }
        }
    }
}
