<div class="container">
    <bng-called-numbers [balls]="(game$ | async)?.balls" [editable]="true"></bng-called-numbers>
    <div class="column" stretch>
        <div class="row" start>
            <button mat-flat-button color="primary" (click)="newGame()">New Game</button>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Win Pattern</mat-label>
                <mat-select [value]="(game$ | async)?.winPattern" (selectionChange)="updateWinPattern($event.value)">
                    @for (winPattern of winPatterns; track winPattern) {
                    <mat-option [value]="winPattern">{{ winPattern.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>