<div [attr.id]="controlPanelId" class="column" stretch>
    <bng-called-numbers class="row" center [balls]="currentGame?.balls" [editable]="passwordValid"></bng-called-numbers>
    <div class="card">
        <mat-tab-group>
            <mat-tab label="Session">
                <div class="row" start>
                    <mat-form-field medium>
                        <mat-label>Session Id</mat-label>
                        <input matInput [(ngModel)]="documentId" />
                    </mat-form-field>
                    <mat-form-field medium>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" [(ngModel)]="password" (ngModelChange)="passwordChanged.next($event)" />
                    </mat-form-field>
                    <mat-form-field wide>
                        <mat-label>Title</mat-label>
                        <input matInput [(ngModel)]="session.title" />
                    </mat-form-field>
                    <mat-checkbox [(ngModel)]="session.active">Active</mat-checkbox>
                </div>
                <div class="row" start>
                    <button mat-flat-button color="primary" (click)="loadSession()">Load Session</button>
                    <button [disabled]="!passwordValid" mat-flat-button color="primary" (click)="updateSession()">Save Session</button>
                    <button [disabled]="!password" mat-flat-button color="primary" (click)="newSession()">New
                        Session</button>
                    <button [disabled]="!passwordValid" mat-flat-button color="primary" (click)="deleteSession()">Delete Session</button>
                </div>
            </mat-tab>
            <mat-tab label="Game Options">
                <div class="row" top no-wrap expand>
                    <div class="column" top expand>
                        <div class="row" top>
                            <mat-form-field small>
                                <mat-label>Load Game</mat-label>
                                <mat-select [(value)]="currentGame" (selectionChange)="loadGame($event.value)">
                                    @for (game of games$ | async; track game) {
                                    <mat-option [value]="game">{{ game.gameNumber }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field small>
                                <mat-label>Game Number</mat-label>
                                <input matInput [(ngModel)]="gameNumber" type="number" />
                            </mat-form-field>
                            <mat-form-field small>
                                <mat-label>Board Color</mat-label>
                                <input matInput [(ngModel)]="gameOptions.boardColor" type="color"
                                    (ngModelChange)="updateBoardColor()" />
                                <span>{{ gameOptions.boardColor }}</span>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Marker Color</mat-label>
                                <input matInput [disabled]="gameOptions.disableMarkerColor"
                                    [(ngModel)]="gameOptions.markerColor" type="color"
                                    (ngModelChange)="updateMarkerColor()" />
                                <span>{{ gameOptions.markerColor }}</span>
                                <mat-slide-toggle [(ngModel)]="gameOptions.disableMarkerColor"
                                    (ngModelChange)="updateMarkerColor()">Use Board
                                    Color</mat-slide-toggle>
                            </mat-form-field>
                            <mat-form-field small>
                                <mat-label>Board Text Color</mat-label>
                                <input matInput [(ngModel)]="gameOptions.boardTextColor" type="color"
                                    (ngModelChange)="updateBoardTextColor()" />
                                <span>{{ gameOptions.boardTextColor }}</span>
                            </mat-form-field>
                            <mat-form-field wide>
                                <mat-label>Message</mat-label>
                                <textarea matInput [(ngModel)]="message" cdkTextareaAutosize cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="5"></textarea>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Win Pattern</mat-label>
                                <mat-select [(value)]="gameOptions.winPattern">
                                    @for (winPattern of winPatterns; track winPattern) {
                                    <mat-option [value]="winPattern">{{ winPattern.name }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="footer">
                            <div class="row" start>
                                <button [disabled]="!passwordValid" mat-flat-button color="primary" (click)="newGame()">New Game</button>
                                <button [disabled]="!passwordValid" mat-flat-button color="primary" (click)="updateGame()">Update Game</button>
                            </div>
                            <div class="row" end>
                                <button [disabled]="!passwordValid" mat-flat-button color="primary" (click)="resetGame()">Reset Game</button>
                                <button [disabled]="!passwordValid" mat-flat-button color="primary" (click)="deleteGame()">Delete Game</button>
                            </div>
                        </div>
                    </div>
                    <div class="column" center>
                        <bng-win-patterns [pattern]="gameOptions.winPattern"></bng-win-patterns>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Theme">
                <div class="row" start top>
                    <mat-form-field>
                        <mat-label>Background Color</mat-label>
                        <input matInput [(ngModel)]="theme.backgroundColor" type="color"
                            (ngModelChange)="updateBackgroundColor()" />
                        <span>{{ theme.backgroundColor }}</span>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Card Color</mat-label>
                        <input matInput [(ngModel)]="theme.cardColor" type="color"
                            (ngModelChange)="updateControlPanelTheme()" />
                        <span>{{ theme.cardColor }}</span>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Text Color</mat-label>
                        <input matInput [(ngModel)]="theme.textColor" type="color"
                            (ngModelChange)="updateControlPanelTheme()" />
                        <span>{{ theme.textColor }}</span>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Font</mat-label>
                        <mat-select [(value)]="theme.font" (selectionChange)="updateControlPanelTheme()">
                            @for (font of fonts; track font) {
                            <mat-option [value]="font">{{ font.name }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <div class="column" start top>
                        <mat-slide-toggle [(ngModel)]="theme.uppercase"
                            (ngModelChange)="updateControlPanelTheme()">Uppercase</mat-slide-toggle>
                        <mat-slide-toggle [(ngModel)]="theme.bold"
                            (ngModelChange)="updateControlPanelTheme()">Bold</mat-slide-toggle>
                        <mat-slide-toggle [(ngModel)]="theme.textShadow"
                            (ngModelChange)="updateControlPanelTheme()">Text
                            Shadow</mat-slide-toggle>
                    </div>
                </div>
                <div class="row" start>
                    <button [disabled]="!passwordValid" mat-flat-button color="primary" (click)="updateTheme()">Update Theme</button>
                    <button [disabled]="!passwordValid" mat-flat-button color="primary" (click)="resetTheme()">Reset Theme</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>