.ball {
    --size: calc(100vw / 16);
    border-radius: 50%;
    background-color: var(--ball-color);
    position: relative;
    height: var(--size);
    width: var(--size);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.125rem 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.2);

    &.large {
        --size: calc(100vw / 12);
    }

    &::before {
        --position: 30%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(
            farthest-corner at var(--position) var(--position),
            rgb(255 255 255 / 0.6) 00%,
            rgb(255 255 255 / 0) 25%,
            rgb(255 255 255 / 0) 50%,
            rgb(0 0 0 / 0.5) 70%
        );
        border-radius: 50%;
    }

    &[ball-letter='B'] {
        --ball-color: var(--b-ball-color);
        --inner-border-color: var(--ball-color);
        --outer-border-color: var(--white-color);
    }

    &[ball-letter='I'] {
        --ball-color: var(--i-ball-color);
        --inner-border-color: var(--ball-color);
        --outer-border-color: var(--white-color);
    }
    &[ball-letter='N'] {
        --ball-color: var(--n-ball-color);
        --inner-border-color: red;
        --outer-border-color: rgb(0 0 0 / 0);
    }
    &[ball-letter='G'] {
        --ball-color: var(--g-ball-color);
        --inner-border-color: var(--ball-color);
        --outer-border-color: var(--white-color);
    }
    &[ball-letter='O'] {
        --ball-color: var(--o-ball-color);
        --inner-border-color: var(--ball-color);
        --outer-border-color: var(--white-color);
    }

    .ball-inner {
        --ball-size: 66%;
        --border-size: 0.25rem;
        color: var(--black-color);
        background: var(--white-color);
        border-radius: 50%;
        height: var(--ball-size);
        width: var(--ball-size);
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: center;
        outline: solid var(--border-size) var(--outer-border-color);
        border: solid var(--border-size) var(--inner-border-color);

        > div {
            margin: -0.05rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        .ball-letter {
            font-size: 1.25vw;
            font-size: calc(var(--size) * 0.2);
        }

        .ball-number {
            font-size: 2vw;
            font-size: calc(var(--size) * 0.3);
        }
    }
}
