<div *ngIf="!(gameService.documentId$ | async)" class="container">
    <mat-form-field wide>
        <mat-label>Join a Session</mat-label>
        <mat-select (selectionChange)="loadSession($event.value)">
            @for (session of sessions; track session) {
            <mat-option [value]="session.id">{{ session.session.title }}</mat-option>
            }
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="gameService.documentId$ | async" class="container">
    <bng-called-numbers [balls]="(gameService.currentGame$ | async)?.balls"></bng-called-numbers>
    <div class="footer">
        <div class="total-calls">
            <bng-total-calls [game]="gameService.currentGame$ | async"></bng-total-calls>
        </div>
        <bng-current-call class="current-call" [call]="gameService.lastCall$ | async"></bng-current-call>
        <bng-game-info class="game-info" [session]="gameService.currentSession$ | async" [game]="gameService.currentGame$ | async" (leaveSession)="leaveSession()"></bng-game-info>
        <bng-previous-calls class="previous-calls"></bng-previous-calls>
        <div class="card column win-patterns">
            <bng-win-patterns
                [pattern]="(gameService.currentGame$ | async)?.options?.winPattern ?? null"></bng-win-patterns>
            <div>{{ (gameService.currentGame$ | async)?.options?.winPattern?.name}}</div>
        </div>
    </div>
</div>