<div class="container">
    <bng-called-numbers [balls]="(gameService.currentGame$ | async)?.balls"></bng-called-numbers>
    <div class="footer">
        <div class="total-calls">
            <bng-total-calls [game]="gameService.currentGame$ | async"></bng-total-calls>
        </div>
        <bng-current-call class="current-call" [call]="gameService.lastCall$ | async"></bng-current-call>
        <bng-game-info class="game-info" [game]="gameService.currentGame$ | async"></bng-game-info>
        <bng-previous-calls class="previous-calls" [game]="gameService.currentGame$ | async"></bng-previous-calls>
        <bng-win-patterns class="win-patterns"
            [pattern]="(gameService.currentGame$ | async)?.WinPattern ?? null"></bng-win-patterns>
    </div>
</div>