@use '@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent,
            warn: $my-warn
        ),
        typography: mat.define-typography-config(),
        density: 0
    )
);

@include mat.all-component-themes($my-theme);

:root {
    --primary-color: #611921;
    --text-color: #fff;
    --secondary-color: rgb(80 20 20);
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --white-color: #fff;
    --black-color: #000;
    --not-called-color: #333;
    --called-color: #fff;
    --b-ball-color: #0b92ff;
    --i-ball-color: red;
    --n-ball-color: white;
    --g-ball-color: green;
    --o-ball-color: yellow;
    --b-ball-text-color: white;
    --i-ball-text-color: white;
    --n-ball-text-color: black;
    --g-ball-text-color: white;
    --o-ball-text-color: black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--secondary-color);
    color: var(--text-color);
}
